.bodyContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.searchBar{
    width:100%;
    border: dotted 2px turquoise;
    text-align: center;
    height:40px;
    margin-bottom: 20px;
}
.searchBar > *{
    width:100%;
    text-align:center;  
    font-size: xx-large;
    min-height: 40px;
}
.tableContainer{
   width:100%;
   text-align: center;
}
.user{
    margin-bottom: 5px;
    padding: 1rem 0.5rem;
    text-align: center;
}
.image{
    max-height: 50px;
}
.clearButton{
    margin-bottom: 20px;
}
.clearButton > * {
    font-size: medium;
}
